<template>
    <transition enter-active-class="animated bounceInRight" leave-active-class="animated bounceOutLeft">
            <header>登陆</header>
            <main></main>
    </transition>
</template>
<script>
    export default {
        name: "login",
        data() {
            return {
            };
        },
        mounted() {
        },
        methods: {
            to() {},

            signinByAccount() {}
        }
    };
</script>

<style lang="scss">
.login{}
</style>