<template>
  <div class="image">
    <div class="avatar-box"> <img :src="avatar" class="m-avatar-img" />
      <Button class="change_cover" @click="tap">更换头像</Button></div>


    <div v-show="modal">
      <div style="height: 200px;width: 200px;margin:auto">
        <vueCropper ref="cropper" :img="option.img" :outputType="option.outputType" :info="true" :full="option.full"
          :autoCrop="option.autoCrop" :autoCropWidth="option.autoCropWidth" :autoCropHeight="option.autoCropHeight"
          :fixedBox="option.fixedBox" @imgLoad="imgLoad">
        </vueCropper>
      </div>
      <div class="footer-btn">
        <div class="scope-btn">
          <label class="btns" for="uploads">选择图片</label>
          <input type="file" id="uploads" style="position:absolute; clip:rect(0 0 0 0);" :accept="accept" @change="onBannerChange"
            ref="imagefile">
        </div>
        <button style="margin-top:30px;" @click="onUploadImg">确认</button>
      </div>
    </div>
  </div>
</template>

<script>
  import {
    VueCropper
  } from 'vue-cropper';

  export default {
    data() {
      return {
        modal: false,
        avatar: null,
        file: null,
        option: {
          img: null,
          outputType: 'png',
          full: false,
          autoCrop: true,
          autoCropWidth: 100,
          autoCropHeight: 100,
          fixedBox: true
        },
        accept: [
          "image/gif",
          "image/jpeg",
          "image/webp",
          "image/jpg",
          "image/png",
          "image/bmp"
        ]
      }
    },
    components: {
      VueCropper
    },
    methods: {
      tap() {
        this.modal = true
      },
      imgLoad() {},
      onUploadImg() {
        // 获取截图后的base64 数据
        this.$refs.cropper.getCropData((data) => {
          this.avatar = data
          const file = this.dataURLtoFile(data)
          console.log(file)
          const formData = new FormData();
          formData.append("avatar", file);
        })
      },
      dataURLtoFile(dataurl) { //将base64转换为文件
        var arr = dataurl.split(','),
          mime = arr[0].match(/:(.*?);/)[1],
          bstr = atob(arr[1]),
          n = bstr.length,
          u8arr = new Uint8Array(n);
        while (n--) {
          u8arr[n] = bstr.charCodeAt(n);
        }
        return new File([u8arr], {
          type: mime
        });
      },
      onBannerChange() {
        const $input = this.$refs.imagefile
        this.file = $input.files[0]
        console.log(this.file)
        const img = new FileReader()
        img.onload = (e) => {
          this.option = {
            ...this.option,
            img: e.target.result
          }
        }
        console.log(this.option)
        img.readAsDataURL(this.file);
      }
    }
  }
</script>

<style lang="scss">
  .avatar-box {
    display: inline-block;
    overflow: hidden;
    position: relative;
    background: #fff;
    vertical-align: middle;
    margin-bottom: 30px;

    .m-avatar-img {
      width: 100px;
      height: 100px;
    }
  }

  .change_cover {
    display: inline-block;
    width: 100px;
    height: 30px;
    text-align: center;
    background: #ccc;
    border: none;
    margin-left: 50px;
  }
</style>